<h3>You did it! You registered!</h3>

Hi ! You're successfully registered.

{# example, assuming you have a route named "login" #}
W celu dokonania rejestracji kliknij w ten link <a href="localhost{{activeLink}}">Aktywuj konto!</a>

Dziękujemy za rejestrację!
