<h3>Dokończ rejestrację!</h3>


{# example, assuming you have a route named "login" #}
W celu dokończenia rejestracji kliknij w ten link <a href="{{ app.request.getSchemeAndHttpHost() }}{{ activeLink }}">Aktywuj konto!</a>

Dziękujemy za rejestrację!
