{% extends 'base.html.twig' %}
{% block title %}Twój trening siłowy{% endblock %}
{% block resources %}{% endblock %}
{% block body %}
	<a href="{{ path('add_training') }}">
		<span class="glyphicon glyphicon-arrow-left gi-2x"></span></a>
	<ul class="list-group trainingList">
		{% for myTraining in myTrainings %}
			<li class="list-group-item">
				<a href="{{ path('my_strength_training_exercise') }}/{{ myTraining.id }}">{{ myTraining.name }}</a>
			</li>
		{% endfor %}
	</ul>
	{% block scripts %}{% endblock %}
{% endblock %}
