{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block body %}
	<ul>
		{% for category in categories %}
			<a href="{{ path('product_category') }}/{{category.name}}">
				<li>{{category.name}}</li>
			</a>
		{% endfor %}
	</ul>
{% endblock %}
