{% extends 'base.html.twig' %}
{% block title %}Twoja dieta i trening{% endblock %}
{% block resources %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block body %}
	{% for product in products %}
		<ul>
			<a href="{{ path('product') }}/{{product.name}} "><li>{{product.name}}</li></a>
		</ul>
	{% endfor %}
{% endblock %}
