.logout
{
	position: absolute;
	top: 2%;
	right: 20%;
}

.hello
{
	position: relative;
	top: 2%;
	left: 5%;
	font-size: 2.6rem;
}

.caloriesCircle
{
	width: 128px;
	height: 128px;
	border: 3px solid black;
	border-radius: 50%;
	text-align: center;
	margin-left: 10%;
	margin-top: 4%;
	line-height: 128px;
}

.normalText
{
	margin-left: 5%;
}

.col-md-4
{
	margin-left: 10%;
	margin-top: 5%;
}

.meals
{
		margin-left: 5%;
		margin-top: 2%;
}

.meal
{
	margin: 1% 0;
}

.addProduct
{
	margin-top: 1%;
	margin-left: 2%;
}

.table
{
	width: 40%;
}

.productContainer
{
	width: 90%;

	margin: 2% auto 0 auto;
}
