.logout
{
	position: absolute;
	top: 2%;
	right: 20%;
}

.hello
{
	position: relative;
	top: 2%;
	left: 5%;
	font-size: 2.6rem;
}

.normalText
{
	margin-left: 5%;
}

.col-md-4
{
	margin-left: 10%;
	margin-top: 5%;
}

.meals
{
		margin-left: 5%;
		margin-top: 2%;
}

.meal
{
	margin: 1% 0;
}

.addProduct
{
	margin: 3%;
}

.table
{
	width: 30vw;
}

.productContainer
{
	width: 90%;

	margin: 2% auto 0 auto;
}
.productItem
{
	font-size: 1rem;
}

#error
{
	color: red;
}

.chart
{
    position:relative;
	width: 164px;
	height: 164px;
	text-align: center;
	margin-left: 10%;
	margin-top: 4%;
	line-height: 164px;
}
canvas
{
    display: block;
    position:absolute;
    top:0;
    left:0;
}

.centerText
{
	font-size: 2rem;
	font-weight: 700;
}

form[name="login_form"]
{
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
}

.deleteButton:visited
{
	pointer-events: none;
}
