*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.caloriesCircle
{
	width: 128px;
	height: 128px;
	border: 3px solid black;
	border-radius: 50%;
	text-align: center;
	position: relative;
	margin-left: 10%;
	margin-top: 2%;
	line-height: 128px;
}

.normalText
{
	
}
